*/src/main/webapp/VAADIN/widgetsets/*
.DS_Store
.classpath
.project
.settings/*
*/target/*
.idea
*.iml
chromedriver.log
target/*
phantomjsdriver.log
demo/src/main/webapp/VAADIN/themes/demo-theme/styles.scss.cache
